html,
body {
  height: 100%;
  margin: 0px;
}

#__next {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.u-font {
  font: "ubuntu";
}

.language-menu svg {
  color: white;
}

.language-menu fieldset {
  border-color: rgba(255, 255, 255, 1);
}
