.loader-body {
  height: 100%;
  width: 100%;
  writing-mode: vertical-lr;
  text-align: center;
}

.loader-container {
  writing-mode: horizontal-tb;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.loader-label {
  display: inline-block;
  margin: auto;
  text-align: left;
}
